[submodule "resources/hub/huo-dusk_extend"]
	path = resources/hub/huo-dusk_extend
	url = https://git.dev.tencent.com/huo376230434/huo-dusk_extend.git
[submodule "resources/hub/huo-lara_admin_generator"]
	path = resources/hub/huo-lara_admin_generator
	url = https://git.dev.tencent.com/huo376230434/huo-lara_admin_generator.git
[submodule "resources/hub/huo-lara_admin"]
	path = resources/hub/huo-lara_admin
	url = https://git.dev.tencent.com/huo376230434/huo-lara_admin.git
[submodule "resources/hub/huo-lib_dev"]
	path = resources/hub/huo-lib_dev
	url = https://git.dev.tencent.com/huo376230434/huo-lib_dev.git
[submodule "resources/hub/huo-generator"]
	path = resources/hub/huo-generator
	url = https://git.dev.tencent.com/huo376230434/huo-generator.git
[submodule "resources/hub/huo-lib"]
	path = resources/hub/huo-lib
	url = https://git.dev.tencent.com/huo376230434/huo-lib.git
